---
layout: default
title: Publications
permalink: /publications/
---

<div class="pw">
  <section class="sec">
    <div class="sec-hd"><span class="sec-rule"></span><h2 class="sec-t">Publications</h2></div>
    <div class="pub-list">
      {% for pub in site.data.publications %}
      <div class="pub-item">
        <span class="pub-y">{{ pub.year }}</span>
        <div>
          <div class="pub-t">{% if pub.url %}<a href="{{ pub.url }}" style="color:inherit;text-decoration:none;border-bottom:1px solid var(--border)">{{ pub.title }}</a>{% else %}{{ pub.title }}{% endif %}</div>
          <div class="pub-v">{{ pub.venue }}</div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
</div>
